<%- include('partials/page-open.ejs') %>
<!-- Header -->
<header>
  <nav class="main-nav">
    <h1 class="logo">
      <a href="/">sound<span class="text-primary">WAV</span> Studios</a>
    </h1>
    <ul>
      <% if (currentUser !== null) { %>
        <li><a href="/users/logout">Sign Out</a></li>
    </ul>
  </nav>
</header>

<div class="confirmation-message container">
  <p>
    Thanks for booking you session with soundWAV studios. We'll see you on
    <span class="booking-date"><%= booking.starttime %></span> at
    <span class="booking-time">12:00pm</span>
  </p>
</div>
<%- include('partials/page-end.ejs') %>
