<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
</head>

<body>
    <section>
        <form action="/users/signup" method="post">
            <h2>Sign Up</h2>
            <div class="">
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" name="first_name" required>
            </div>
            <div class="">
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" name="last_name" required>
            </div>
            <div class="">
                <label for="phone">Phone #</label>
                <input type="tel" id="phone" name="phone" required>
            </div>
            <div class="">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="">
                <button type="submit">Register</button>
            </div>
        </form>
    </section>
</body>

</html>

</body>